@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Playfair Display", serif;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;
    transition: background 0.3s linear, color 0.3s linear;
}

body.dark {
    background-color: #1f1f1f;
    color: white;
}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

label {
    background-color: rgb(255, 0, 106);

    border-radius: 50%;
    display: inline-block;
    width: 50%;
    height: 50%;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s linear;
}

body.dark label {
    background-color: #fff;
}
input {
    visibility: hidden;
}
