@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Playfair Display", serif;
    min-height: 100vh;
}

button {
    background-color: rgb(226, 43, 113);

    border: none;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}
button.active {
    transform: translate(-100px);
}
nav {
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(226, 29, 253, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
    /* color: white; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    transform: translate(100%);
    transition: transform 0.3s ease-in-out;
}
nav.active {
    transform: translate(0);
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
nav ul li {
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
}
